<div class="form-group">
	{{ form_label(form.label) }}
	{{ form_widget(form.label) }}
</div>
<div class="form-group">
	{{ form_label(form.price) }}
	{{ form_widget(form.price) }}
</div>
<div class="form-group">
	{{ form_label(form.photoface) }}
	{{ form_widget(form.photoface) }}
</div>
<div class="form-group">
	{{ form_label(form.photoprofil) }}
	{{ form_widget(form.photoprofil) }}
</div>
<div class="form-group">
	{{ form_label(form.quantity) }}
	{{ form_widget(form.quantity) }}
</div>
<div class="form-group">
	{{ form_label(form.fournisseur) }}
	{{ form_widget(form.fournisseur) }}
</div>
